@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h4>
    Sorry, an error occurred while processing your request.
    <br />
    @Html.ActionLink("Return to Home", "", "Home", null, null);
</h4>
