@model TARS.Models.Task

@{
    ViewBag.Title = "viewTask";
}

<h2>Details</h2>

<fieldset>
    <legend>PcaCode</legend>

    <div class="display-label">Work Effort</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WE)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "editTask/", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "searchTask/")
</p>
