@model TARS.Models.PCA_WE
           
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this PCA/WE association?</h3>
<fieldset>
    <legend>Task</legend>

    <div class="display-label">PCA Code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PCA)
    </div>

    <div class="display-label">Work Effort</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WE)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> | 
        @Html.ActionLink("Back to List", "searchPCA_WE/")
    </p>
}
