@model TARS.Models.Task

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this task?</h3>
<fieldset>
    <legend>Task</legend>

    <div class="display-label">Work Effort</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WE)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> | 
        @Html.ActionLink("Back to List", "searchTask/")
    </p>
}
