@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>This is in Views/Manager/Index.cshtml</p>



<!--
<p>
    a href="../addPCA/">Add PCA</a>
</p>
<p>
    <a href="../viewPCA?code=15343">View PCA 15343</a>
</p>
<p>
    <a href="../viewPCA/">View PCA</a>
</p>
<p>
    <a href="../editPCA/">Edit PCA ~~BROKEN~~</a>
</p>
<p>
    <a href="../editPCA/0">Edit PCA</a>
</p>
-->
<p><u>PCA stuff here!</u></p>
<p>
    <a href="../searchPCA/">Search PCA</a>
</p>
<br /><br />
<p><u>WE stuff here!</u></p>
<p>
    <a href="../searchWorkEffort/">Search Work Effort</a>
</p>
<br /><br />
<p>
    <a href="../viewHistory/">View History</a>
</p>
<p>
    <a href="../approveHours/">Approve Hours</a>
</p>