@{
    ViewBag.Title = "Index";
}

<h2>Manager</h2>

<p><a href="TARS/Manager/addPCA/">Add a new PCA Code</a></p>
<p><a href="TARS/Manager/searchPCA/">Search for a PCA Code</a></p>
<br />
<p><a href="TARS/Manager/addWorkEffort/">Add a new Work Effort</a></p>
<p><a href="TARS/Manager/searchWorkEffort/">Search for a Work Effort</a></p>
<br />
<p><a href="TARS/Manager/addTask/">Add a new Task</a></p>
<p><a href="TARS/Manager/searchTask/">Search for a Task</a></p>
<br />
<p><a href="TARS/Manager/viewHistory/">View Recent History</a></p>
<br />
<p><a href="TARS/Manager/approveHours/">Approve Hours</a></p>
<br />
<p><a href="TARS/Manager/viewTimesheet/">View My Timesheet</a></p>