@{
    ViewBag.Title = "Index";
}

<h2>Manager</h2>

<p><a href="../addPCA/">Add a new PCA Code</a></p>
<p><a href="../searchPCA/">Search for a PCA Code</a></p>
<br />
<p><a href="../addWorkEffort/">Add a new Work Effort</a></p>
<p><a href="../searchWorkEffort/">Search for a Work Effort</a></p>
<br />
<p><a href="../addTask/">Add a new Task</a></p>
<p><a href="../searchTask/">Search for a Task</a></p>
<br />
<p><a href="../viewHistory/">View Recent History</a></p>
<br />
<p><a href="../approveHours/">Approve Hours</a></p>
<br />
<p><a href="../viewTimesheet/">View My Timesheet</a></p>