@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>This is in Views/Manager/Index.cshtml</p>

<p>
    <a href="../addPCA/">addPCA()  (Code does not have a default value. Will explode.)</a>
</p>
<p>
    <a href="../addPCA?code=15343">addPCA(15343)</a>
</p>