@{
    ViewBag.Title = "Management";
}

<h2>Manager</h2>

<p><a href="../viewTimesheet">Personal Time Management</a></p>
<p>View your personal timesheet here</p>

<p><a href="../userManagement">User Time Management</a></p>
<p>View and approve User timesheets</p>

<p><a href="../weManagement">Work Effort Management</a></p>
<p>Add, modify, or delete Work Efforts</p>
