@model IEnumerable<TARS.Models.PCA_WE>

@{
    ViewBag.Title = "searchPCA_WE";
}

<h2>searchPCA_WE</h2>

<p>
    @Html.ActionLink("Create New", "addPCA_WE")
</p>
<table>
    <tr>
        <th>
            PCA Code
        </th>
        <th>
            Work Effort
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WE)
        </td>
    </tr>
}

</table>
