@{
    ViewBag.Title = "selectDivisionToAddWorkEffort";
}

<h2>Choose Division To Add Work Effort</h2>

@using (Html.BeginForm())
{  
    <fieldset>
        <div><b>Select Division</b></div>
        @Html.DropDownList("division", (SelectList)ViewBag.divisionList)
    
        <p>
        <input type="submit" value="Proceed" />
        </p>
    </fieldset>
}
