@{
    ViewBag.Title = "addHours";
}

<h2>addHours</h2>

<p>This is in Views/User/addHours.cshtml</p>

<ul> 
   @for (int i=0; i < ViewBag.number; i++) { 
      <li>@ViewBag.workeffort ----- @ViewBag.number</li> 
   } 
</ul>
