@model TARS.Models.Hours

@{
    ViewBag.Title = "addHours";
}

<h2>Add Hours</h2>

@Html.Partial("_addHoursPartial")

<div>
    @Html.ActionLink("Back to Timesheet", "viewTimesheet", new { tsDate = DateTime.Now })
</div>

