@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>This is in Views/User/Index.cshtml</p>

<p>
    <a href="../addHours/">addHours( )</a>
</p>

<p>
    <a href="../searchWorkEffort/">searchWorkEffort( )</a>
</p>

<p>
    <a href="../viewWorkEffort/"></a>viewWorkEffort( )</a>
</p>
