@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>This is in Views/User/Index.cshtml</p>

<p>
    <a href="../searchWorkEffort/">searchWorkEffort( )</a><br />
    Provides a list of all work efforts in the database.<br />
</p>

<p>
    <a href="../viewWorkEffort/1">viewWorkEffort(1)</a><br />
    Views the work effort with ID 1.<br />
    Arrived at via searchWorkEffort and requires a valid work effort ID.<br />
</p>

<p>
    <a href="../viewHours">viewHours()</a><br />
    Provides a list of hours submittals in the database.<br />
    Can take a string argument to search by user name.<br />
</p>
