@{
    ViewBag.Title = "Administration";
}

<h2>Admin</h2>

<p>@Html.ActionLink("PCA Maintanence", "maintainPCA")</p>
<p>Add, modify, or delete PCA Codes from TARS</p>

<p>@Html.ActionLink("User Maintanence", "userMaintanence")</p>
<p>Add, modify, or End-Date Users in the TARS system</p>

<p>@Html.ActionLink("Unlock a Timesheet", "unlockEmployeeTimesheets", new { refDate = DateTime.Now.AddDays(-7) })</p>
<p>Unlock an employee's timesheet for editing and re-submittal</p>

<p>@Html.ActionLink("View/Add/Edit/Delete Holidays", "viewHolidays")</p>
<p>Timesheets for a holiday week will get an extra day before being locked</p>



