@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>This is in Views/Admin/Index.cshtml</p>

<p>
    <a href="../addManager/">addManager()  (Code does not have a default name. Will explode.)</a>
</p>
<p>
    <a href="../addManager?name=Joe">addManager(Joe)</a>
</p>