@{
    ViewBag.Title = "Administration";
}

<h2>Admin</h2>

<p>@Html.ActionLink("PCA Maintanence", "maintainPCA")</p>
<p>Add, modify, or delete PCA Codes from TARS</p>

<p>@Html.ActionLink("User Maintanence", "userMaintanence")</p>
<p>Add, modify, or End-Date Users in the TARS system</p>

<p>@Html.ActionLink("View/Add/Remove Holidays", "addAndRemoveHolidays")</p>
<p>Timesheets for a holiday week will get an extra day before being locked</p>



