/*
general, page wide default settings
*/

html {
	background: white;
	background-position: left top;
	background-repeat: repeat-x;
	padding: 0px;
	margin: 0px;
	font-family: 'Verdana';
	font-size: 11pt;
	
	margin-top: 0px;
	color: #444444
}
/*background-image: url('../images/background_tall.png');*/
body {
	background-image: url('../images/background_large.png');
	background-color: white;
	background-position: left top;
	background-repeat: repeat-x;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	margin-top: 0px;
	border-bottom: 1px solid #767676;
}

.container{
	background-image: url('../images/background_large.png');
	background-color: white;
	background-position: left top;
	background-repeat: repeat-x;
	display:block;
	margin: auto;
	width: 1014px;
	min-height: 900px;
	background-position: left top;
	background-repeat: repeat-x;
	position: relative;

	padding-left: 5px;
	padding-right: 5px;

}

/*
specific divs for content seperation
*/

#top {
	width: 100%;
	height: 100px;
	display: block;
	position: relative;

}

#navLinks {
	width: 100%;
	height: 50px;
	display: block;
	position: relative;
}

#top img#logo{
	position: absolute;
	left:0px;
	top:15px;
}

/*

#footer{
	width: 100%;
	background-repeat: repeat-x;
	background-position: left top;
	padding-bottom: 150px;
	color: white;
	padding-top: 5px;
	font-size: 10pt;
	position: relative;
}
/*
Div classes
*/

table.priviligeNav{

}



table.nav{
	position: absolute; 
	right: -5px;
	top: 10px;
	height: 40px;

	border-collapse: collapse;
	margin: 0px;
	padding: 0px;

	font-size: 12pt;
	text-align: center;
	color: white;
}

table.nav td {
	min-width: 90px;

	height: 60px;
	padding-left:: 10px;
	background-image: url('../images/nav_link.png');
	background-position: center;
	background-repeat: no-repeat;
}

table.nav td:hover {
	min-width: 90px;

	height: 60px;
	padding-left:: 10px;
	background-image: url('../images/nav_link_hover.png');
	background-position: center;
	background-repeat: no-repeat;
}

/*
	background-image: url('../images/privilege_background.png');
*/
table.nav td.spacer{
	width: 10px;
	text-align: center;
}

