@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>This is in Views/Test/Index.cshtml</p>

<p>
    <a href="TestViews/">TestViews()</a> - Test to ensure that all views are being output.
</p>