@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     <a href="http://seniordesign.engr.uidaho.edu/2011-2012/CostManagement">Cost Management Home Page</a><br />
     <a href="http://github.com/ICBM/TARS/">TARS Github Repository</a><br />
</p>
