@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <a href="Test/">Link to the Test controller</a>
</p>
<p>
    <a href="User/Index/">Link to the User controller</a>
</p>
<p>
    <a href="Manager/Index/">Link to the Manager controller</a>
</p>
<p>
    <a href="Admin/Index/">Link to the Admin controller</a>
</p>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
